@model IEnumerable<Cyclo.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Мои задачи</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            Связанное событие
        </th>
        <th>
            Автор
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            Операции
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deadLine)
        </td>
        <td>
            <a href="/Jobs/Report/@item.ID">@Html.DisplayFor(modelItem => item.name)</a>
        </td>
        <td>
            <a href="/Events/Details/@ViewBag.eventList[item.ID].ID">@ViewBag.eventList[item.ID].name</a>
        </td>m
        <td>
            @ViewBag.names[item.ID]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            <a href="/Jobs/EditReport/@item.ID">Написать отчет</a>
        </td>
    </tr>
}

</table>
