@model Cyclo.Models.Job
@using Cyclo.Models
@{
    ViewBag.Title = "Details";
}

<h2>Задача: @Model.name</h2>
<p>&nbsp;</p>
<div>
    <dl class="dl-horizontal">
        <dt>
            Мероприятие:
        </dt>

        <dd>
            @ViewBag.linkedEvent.name
        </dd>
        <dt>
            Отдел:
        </dt>

        <dd>
            @ViewBag.linkedEvent.subCategory.parent.name
        </dd>
        <dt>
            Направление деятельности:
        </dt>

        <dd>
            @ViewBag.linkedEvent.subCategory.name
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deadLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @ViewBag.userName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.authorID)
        </dt>

        <dd>
            @ViewBag.authorName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    <h3>Описание задачи</h3>
    <p>&nbsp;</p>
    <div>
        @Html.DisplayFor(model => model.description)
    </div>
    <h3>Отчет исполнителя</h3>
    <p>&nbsp;</p>
    <div>
        @Html.DisplayFor(model => model.report)
        @if (Model.report == null || Model.report == "")
        {
            <p>Отчет пока не предоставлен</p>
        }
    </div>
    <p>&nbsp;</p>
</div>
<div>

    @Html.ActionLink("К описанию события", "Details", "Events", new {id= ViewBag.linkedEvent.ID }, new { @class="btn btn-default" })
</div>
